body {
  background-color: #161216;
  font-size: 16px;
}
#principalContainer {
  background-color: antiquewhite;
  width: 20em;
  padding: 3em;
  margin: 3em auto;
  border-radius: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  display: block;
  margin: auto;
}
p {
  text-align: center;
}

@media screen and (max-width: 500px) {
  #principalContainer {
    font-size: 48px;
  }
}
