body {
  background-color: #161216;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#principalContainer {
  background-color: antiquewhite;
  width: max-content;
  padding: 3em;
  margin: 3em auto;
  border-radius: 1em;
}
#logoAbanico {
  display: block;
  height: 2em;
  margin: auto;
}
h1 {
  text-align: center;
  margin-bottom: 0.6em;
  font-weight: 500;
  font-size: 1.4em;
}
p {
  margin-top: 0;
  margin-bottom: 3em;
  text-align: center;
}
a {
  text-decoration: none;
}

#card {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}
.subsec1 {
  display: inline-block;
  width: 16.8em;
}
.subsec2 {
  display: inline-block;
  margin-left: 1em;
}
#name {
  text-align: left;
  font-size: 1.2em;
}
#description {
  color: grey;
  font-size: 0.9em;
  text-align: left;
}
#directions {
  margin: 0;
  width: 2.5em;
}
#ir {
  margin: 0;
  color: grey;
  font-size: 0.9em;
}

@media (orientation: portrait) {
  #principalContainer {
    font-size: 40px;
    width: 80vw;
    padding: 3em 1em;
  }
  #name {
  font-size: 1.3em;
  }
}
